$color_1: black;
$color_2: white;
$color_3: #202020;
$color_4: grey;
$color_5: #666;
$font_family_1: "Montserrat", sans-serif;
$font_family_2: "Ubuntu";
$font_family_3: "Montserrat";
$font_family_4: "Exo 2", sans-serif;
$font_family_5: "Balsamiq Sans", cursive;
$background_color_1: white;
$background_color_2: #EEEEEE;
$background_color_3: #ff3377;
$background_color_4: #252525;
$background_color_5: #e5e5e5;
$border_color_1: black;

/* Headings */
/* Containers */
/* Navigation Bar */
/* Buttons */
/* Sections */
/* Title Section */
/* Features Section */
/* Pricing Section */
/* Footer Section */
/* Custom scrollbar*/
/* Track */
/* Handle */
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
body {
	font-family: $font_family_1;
	text-align: center;
	height: 100%;
}
.normal-a {
	color: $color_1;
	text-decoration: none;
}
a {
	&:hover {
		color: $color_1;
	}
}
.wrapper {
	min-height: 100%;
	margin-bottom: -115px;
	background-color: $background_color_1;
}
.push {
	height: 115px;
}
p {
	color: $color_1;
	margin: 0;
	padding: 1%;
}
.statsp {
	color: $color_2;
	font-size: 0.8rem;
}
.statcont{
  padding:0; 
  background-color:$color_1;
}
h1 {
	font-family: $font_family_2;
	font-weight: bold;
	color: $color_3;
	color: $color_2;
}
h2 {
	font-family: $font_family_2;
	font-weight: bold;
	color: $color_3;
}
h3 {
	font-family: $font_family_2;
	font-weight: bold;
	color: $color_3;
}
h5 {
	font-family: $font_family_2;
	font-weight: bold;
	color: $color_3;
}
h6 {
	font-family: $font_family_2;
	font-weight: bold;
	color: $color_3;
}
h4 {
	font-family: $font_family_3;
	font-weight: 500;
	color: $color_3;
}
.message {
	color:$color_1; 
	font-size:1.2rem;
	margin-bottom:-20px;
}
.guide{
	font-size: 0.7rem; 
	margin-top: -8px;
}
.section-heading {
	font-size: 3rem;
	line-height: 1.5;
}
.feature-title {
	font-weight: 900;
	font-size: 2rem;
}
.container-fluid {
	padding: 0.1%;
}
.working-area{
  border-style: ridge;
  border-color: $color_1;
  border-width: thin;
  background-color: $background_color_5;
  padding:15px 5px 5px 0;
}
.navbar-brand {
	font-size: 1.6rem;
	font-family: $font_family_2;
	font-weight: bold;
	color: $color_4;
}
.navbar-toggler {
	color: $color_2;
}
.nav-link {
	font-size: 0.9rem;
	font-family: $font_family_4;
	font-weight: 500;
}
.nav-item {
	padding: 0 8px 0 12px;
}
.open-button {
	margin: 5px 0 0 0;
	border-radius: 0;
}
.filterSection {
	margin: 0px;
	padding: 0px;
	background-color: $background_color_2;
	li {
		list-style: none;
		margin: 0px;
		padding: 5px;
		display: inline;
	}
}
#itemsToFilter {
	li {
		list-style: none;
		background-position: 0 3px;
		background-repeat: no-repeat;
		margin: 15px;
		padding-left: 40px;
		font-size: 15pt;
		color: $color_5;
	}
}
.header-section {
	background: #F19A1A;
	color: $color_2;
}
.carousel-section {
	background-color: $background_color_1;
	margin-bottom: -100px;
	color: $color_2;
}
.carousel-img {
	width: 125px;
	height: 125px;
	max-height: 225px;
	border-radius: 100%;
	margin-bottom: 50px;
}
.carousel-text {
	font-size: 2rem;
	font-family: $font_family_4;
	font-weight: bold;
	color: $color_1;
	line-height: 1.5;
	margin: 50px 0 25px 0;
}
.main-section {
	color: $color_2;
}
.small-img {
	margin: 0;
	height: 100%;
	width: 100%;
}
.book-img {
	height: 180px;
	width: 130px;
	margin: 0;
}
#searchbar {
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin: 0 10px 12px 0;
	height: 40px;
	width: 45%;
}
#searchicon {
	margin-left: 2px;
}
#title {
	text-align: left;
}
.title-img {
	width: 60%;
	transform: rotate(25deg);
	position: absolute;
	right: 20%;
}
#features {
	position: relative;
}
#pricing {
	padding: 100px;
}
.pricing-column {
	padding: 3% 2%;
}
.price-text {
	font-size: 3rem;
	line-height: 1.5;
}
.card {
	background-color: $background_color_1;
	margin: 0 4% 0 4%;
	color: $color_2;
	font-family: $font_family_4;
	font-weight: 500;
	border-width: medium;
	border-style: ridge;
	border-color: $border_color_1;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 10px 0 rgba(0, 0, 0, 0.22);
}
.card-header {
	background-color: $background_color_3;
	h3 {
		color: $color_2;
	}
}
#footer {
	background-color: $background_color_4;
	font-family: $font_family_5;
	font-size: 0.7rem;
	height: 115px;
	margin: 0;
}
.userimg {
	margin: 0.5% 0 0 0;
	border-radius: 100%;
	height: 40px;
	width: 40px;
}
.defbookimg{
	margin:0 0 50px 0; 
	max-height:60%; 
	max-width:50%;
}
.logo-img{
  border-radius: 100%;
  height: 40px;
  width: 40px;
  margin: 1px 3px 0 0;
}
.add-book{
	color:$color_1; 
	font-size:2.2rem; 
	font-family: $font_family_2; 
	font-weight: bold;"
}
.add-book-img{
	height:130px; 
	width:130px; 
	color:$color_2;
}
#footp {
	color: $color_2;
	padding-bottom: 0;
}
