/* Headings */
/* Containers */
/* Navigation Bar */
/* Main Section */
body {
  font-family: "Montserrat-Bold", sans-serif;
  text-align: center;
  background-color: #464646;
  background-image: url("\\images\\bgrad.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

p {
  color: white;
}

form {
  font-family: "Ubuntu", sans-serif;
}

hr {
  margin: 6%;
}

h5 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  font-weight: 0;
  color: white;
}

.logo-img {
  height:70px; 
  width:70px;
}

.normal-a {
  color: black;
  font-family: "Montserrat-Bold", sans-serif;
  text-decoration: none;
}

.container-fluid {
  padding: 1.5% 5%;
  margin: auto;
  display: inline-block;
}

.navbar-brand {
  font-size: 4rem;
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  color: grey;
}

.navbar-toggler {
  color: white;
}

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-nav {
  border-radius: 2rem;
}

.nav-link {
  font-family: "Prompt", sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
}

.nav-item {
  padding: 0 2.8rem;
}

.mainsec {
  position: relative;
  display: inline-block;
}

.righttcol {
  position: relative;
  text-align: center;
  background-color: grey;
}

#welctext {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}

.covr-img {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  opacity: 80%;
}

.login-heading {
  font-weight: 300;
}

.reg-btn {
  display: inline-block;
  margin: 2%;
  width: 80%;
  border-radius: 2rem;
  margin-top: 30px;
}

.ggfb-btn {
  margin-top: 20px;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 20%;
  display: inline-block;
  margin: 2%;
  width: 60%;
}

.form-title{
  background-color: rgb(255, 51, 119); 
  border-radius: 1rem; 
  padding:0 4px 0 4px; 
  margin-bottom: 1rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

#name {
  text-align: center;
  margin: 5px;
}

#email {
  text-align: center;
  margin: 5px;
}

#password {
  text-align: center;
  margin: 5px;
}

#password-confirm {
  text-align: center;
  margin: 5px;
}